.btn-primary {
    background: $primary-color;
    border: $primary-color;
    &:hover {
        background: darken($primary-color,10);
    }
}

.btn-secondary {
    background: $secondary-color;
    border: $secondary-color;
}

.btn-lg {
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
}