.btn-primary {
    background: $primary-color;
    border: $primary-color;
}

.btn-secondary {
    background: $secondary-color;
    border: $secondary-color;
}

.btn-lg {
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
}