@import 'config';
@import 'buttons';
@import 'carousel';
@import 'menu';
body {
    padding-top: 0;
    h2 {
        font-family: $primary-font!important;
    }
    p,
    a {
        font-family: $secondary-font!important;
    }
    a {
        color: $white;
        &:hover {
            color: $secondary-color;
        }
    }
}

#logo {
    width: 23%;
    height: 50%;
}

#about {
    h3 {
        color: $primary-color;
    }
    .hero {
        background: $primary-color;
    }
    #team {
        padding: 4rem 0;
        .testimonail-pic {
            width: 70%;
        }
    }
}

#product-page {
    .hero {
        background: $primary-color;
    }
}

.hero {
    font-family: $secondary-font;
    color: $white;
    h2 {
        font-weight: 700;
        font-size: 3rem;
    }
    p {
        font-weight: 100;
        position: absolute;
        top: 400px;
        left: 50%;
    }
    #fred {
        position: absolute;
        width: 12%;
        top: 347px;
        right: 300px;
    }
    #fred-arrow {
        top: 415px;
        left: 51.3%;
        img {
            width: 22px;
            height: 34px;
        }
    }
    .shape {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .hero-text {
        padding: 43px 100px 100px 300px;
    }
}

.marketing#iphone {
    padding: 155px 0 100px 0;
}

.marketing {
    padding: 60px 0;
}

.featurette-heading {
    margin-top: 5rem;
}

.numbers-icons {
    height: 140px;
    img {
        width: 100px;
        height: 120px;
        position: absolute;
        right: 140px;
    }
}

.numb {
    h2 {
        font-weight: 600;
        color: $primary-color;
    }
}

#product {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/plant-moods.png");
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
        font-weight: 600;
        color: $white;
    }
    p {
        color: $white;
    }
    .info {
        padding: 120px 0;
    }
    .big {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        padding: 3rem 0 2rem 0;
    }
}

footer {
    padding: 40px;
    background: $primary-color;
    color: $white;
    height: 100px;
    position: absolute;
    a {
        color: $white;
    }
    .row {
        padding: 0 40px;
    }
    .fab {
        padding: 0 10px;
        font-size: 1.5rem;
    }
    a:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}

.modal-dialog {
    max-width: 1000px;
}

.modal-body {
    padding: 3rem 0rem 0rem 4rem;
    img {
        height: 70%;
    }
    .price {
        font-size: 3rem;
        color: $primary-color;
    }
}

.stats {
    width: 50%;
    height: 13px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 7px;
}

.water {
    background: #98D4F2;
    height: 8px;
    border-radius: 6px;
    &#chris {
        width: 55%;
    }
    &#carol {
        width: 82%;
    }
    &#ben {
        width: 10%;
    }
}

.sun {
    background: #EDED54;
    height: 8px;
    border-radius: 6px;
    &#chris {
        width: 32%;
    }
    &#carol {
        width: 92%;
    }
    &#ben {
        width: 56%;
    }
}

@import "mobile";